<h1 class="heading">{{title}}</h1>
<br />
<input  type="text" #newtodo/>
<div style="padding: 5px;"></div>
<button (click)="addTodo(newtodo.value); newtodo.value=''" style="font-weight:700" >Add Task </button>
<div style="padding: 10px;">

</div>
<div >

  <table>
    <tr>
      <th>
        Tasks Todo
      </th>
      <div >

      </div>
      <th>
        Actions
      </th>
    </tr>
    <tr *ngFor="let todo of todos">
      <td>{{ todo.label }}</td>
      <div>


      </div>
      <td>
        <button (click)="deleteTodo(todo)" style="background: red; color: wheat; border-radius: 15px; font-weight: 700;">
          Remove Task
        </button>
      </td>
  
    </tr>
  
  </table>

</div>
